body{
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
    position: relative;
    margin: 30px 30px;
    max-width: 1000px;
    /* align-items: center; */
    /* padding-top: 95px; */
}