.places{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: 30px;
}

.places h1 {
    height: 30px;
    width: 100%;
    font-size: 30px;
    padding-left: 3%;
}

article{
    border-radius: 4px;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    text-align: center;
}